.home-info {
  min-height: auto;
  margin: var(--gap) 0 var(--gap) 0;
  padding-bottom: 0.2rem;
}

.home-info .entry-content {
  margin: 0.4rem 0;
}

.home-info .entry-footer {
  margin-top: 0.2rem;
  margin-bottom: 0;
}
