.home-info {
  min-height: auto;
  margin: 1.7rem 0 1.9rem 0;
  padding-bottom: 0.2rem;
}

.home-info .entry-content {
  margin: 0.2rem 0;
}

.home-info .entry-footer {
  margin-top: 0.2rem;
  margin-bottom: 0;
}
